@model string
@{
    ViewBag.Title = "Visual Studio Online Service Hook";
}

<html>
    <head>
        <title>@ViewBag.Title</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <body>
        @Html.Raw(Model)
    </body>
</html>